@section css_productDetail{
    <link rel="stylesheet" href="~/css/productDetail.css">
}

@section css_rating{
    <link rel="stylesheet" href="~/css/rating.css">
}


@model ProductRespone
<!-- Product Detail -->
<div class="container-fluid d-flex d-flex justify-content-around mt-5">
    <div class="col-lg-5">
        <img src="@Model.Image" alt="" class="product-detail__Img pl-3">
    </div>
    <div class="col-lg-7 d-flex flex-column">
        <h3 class="product-detail__NameProduct pb-4">@Model.NameProduct</h3>

        <p class="product-detail__Price">@Model.Price $</p>

        <div class="product-detail__details d-flex mt-4">
            <p class="product-detail__title col-lg-2">Description: </p>
            <p class="product-detail__content col-lg-7">@Model.ProductDescription</p>
        </div>

        <div class="product-detail__details d-flex mt-4">
            <p class="product-detail__title col-lg-2">Category: </p>
            <p class="product-detail__content col-lg-7" id="content-nameCate"></p>
        </div>

        <button type="submit" class="product-details__btn mt-5 mb-5">ADD TO CART</button>

        <h1 style="border-top: 1px solid black; margin-top: 30px; padding-top: 20px; text-align: center;">Reviews</h1>


        <div class="review_box">

            <h3>
                @for (int i = 0; i < Model.RateStar; i++)
                {
                    <i class="ion-android-star" style="color: #ffdd59"></i>
                }
            </h3>
            <h2 class="h3">Đánh giá sản phẩm: (@ViewBag.rateCount)</h2>
            <div class="wrapper">
                <div class="content">
                    @foreach (var review in @ViewBag.rate)
                    {
                        @await Component.InvokeAsync("Rating", review);
                    }
                </div>
            </div>
            <hr/>
            <h4>Add a Review</h4>
           
            <form class="join" asp-action="PostReview" asp-controller="Products" method="post">
                <div class="row">
                    <div class="col-sm-12 d-flex align-items-center">
                        <div class="rate">
                            <input type="radio" id="star5" name="rate" value="5" />
                            <label style="font-size: 50px" for="star5" title="text">5 stars</label>
                            <input type="radio" id="star4" name="rate" value="4" />
                            <label style="font-size: 50px" for="star4" title="text">4 stars</label>
                            <input type="radio" id="star3" name="rate" value="3" />
                            <label style="font-size: 50px" for="star3" title="text">3 stars</label>
                            <input type="radio" id="star2" name="rate" value="2" />
                            <label style="font-size: 50px" for="star2" title="text">2 stars</label>
                            <input type="radio" id="star1" name="rate" value="1" />
                            <label style="font-size: 50px" for="star1" title="text">1 star</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" name="userName" value="" placeholder="Name" required class="form-control" />
                        <input type="hidden" name="productId" value="@Model.IDProduct" />
                        <br>
                    </div>
                    <div class="col-sm-12">
                        <textarea name="comments" placeholder="Type here" required class="form-control" rows="5"></textarea>
                        <br>
                    </div>
                    <div class="col-sm-12">
                        <div class="align-center">
                            <br>
                            <button type="submit" class="btn btn-primary btn-sm"> <i class="ion-android-send"></i> Send</button>
                            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"> <i class="ion-android-share"></i> No, thanks </button>
                            <br><br>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>

<script>
    function setCategoryName(name) {
        switch (name) {
            case 1:
                document.getElementById("content-nameCate").innerHTML = "Men";
                break;
            case 2:
                document.getElementById("content-nameCate").innerHTML = "Women";
                break;
            case 3:
                document.getElementById("content-nameCate").innerHTML = "Unisex";
                break;
            default:
                document.getElementById("content-nameCate").innerHTML = "Not Found";
        }
    }
    setCategoryName(@Model.IDCate);
</script>