@section css_productDetail{
    <link rel="stylesheet" href="~/css/productDetail.css">
}


@model ProductRespone
<!-- Product Detail -->
<div class="container-fluid d-flex d-flex justify-content-around mt-5">
    <div class="col-lg-5">
        <img src="@Model.Image" alt="" class="product-detail__Img pl-3">
    </div>
    <div class="col-lg-7 d-flex flex-column">
        <h3 class="product-detail__NameProduct pb-4">@Model.NameProduct</h3>

        <p class="product-detail__Price">@Model.Price $</p>

        <div class="product-detail__details d-flex mt-4">
            <p class="product-detail__title col-lg-2">Description: </p>
            <p class="product-detail__content col-lg-7">@Model.ProductDescription</p>
        </div>

        <div class="product-detail__details d-flex mt-4">
            <p class="product-detail__title col-lg-2">Category: </p>
            <p class="product-detail__content col-lg-7" id="content-nameCate"></p>
        </div>

        <button type="submit" class="product-details__btn mt-5 mb-5">ADD TO CART</button>

        <h1 style="border-top: 1px solid black; margin-top: 30px; padding-top: 20px; text-align: center;">Reviews</h1>


        <section class='o-container'>

            <div class="d-flex justify-content-around">
                <p class="product-detail__title">Đánh giá: </p>
                <!-- Rating Stars Box -->
                <ul id='js-rating-star' class="c-rating-star u-text-center" data-name="test">
                    <li class='c-rating-star__item' title='Poor' data-value='1'>
                        <i class='fa fa-star fa-fw c-rating-star__icon'></i>
                    </li>
                    <li class='c-rating-star__item' title='Fair' data-value='2'>
                        <i class='fa fa-star fa-fw c-rating-star__icon'></i>
                    </li>
                    <li class='c-rating-star__item' title='Good' data-value='3'>
                        <i class='fa fa-star fa-fw c-rating-star__icon'></i>
                    </li>
                    <li class='c-rating-star__item' title='Excellent' data-value='4'>
                        <i class='fa fa-star fa-fw c-rating-star__icon'></i>
                    </li>
                    <li class='c-rating-star__item' title='WOW!!!' data-value='5'>
                        <i class='fa fa-star fa-fw c-rating-star__icon'></i>
                    </li>
                </ul>

            </div>

            <div class="d-flex justify-content-around">
                <p class="product-detail__title">Bình luận: </p>
                <textarea></textarea>

            </div>

        </section>

    </div>

</div>

<script>
    function setCategoryName(name) {
        switch (name) {
            case 1:
                document.getElementById("content-nameCate").innerHTML = "Men";
                break;
            case 2:
                document.getElementById("content-nameCate").innerHTML = "Women";
                break;
            case 3:
                document.getElementById("content-nameCate").innerHTML = "Unisex";
                break;
            default:
                document.getElementById("content-nameCate").innerHTML = "Not Found";
        }
    }
    setCategoryName(@Model.IDCate);
</script>